<div class="searchFilters">
    
  <div *ngFor="let advert of listAdverts">

    <md-card class="example-card">
      <md-expansion-panel>

        <md-expansion-panel-header>
          <md-panel-title>
            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <h4>{{ advert.name }}</h4>
              <!--<h6>{{ advert.jobType }}</h6>        -->
            </md-card-header>
            </md-panel-title>

            <md-panel-description style="float: pull-right">
              City: {{ advert.location}}
            </md-panel-description>
        </md-expansion-panel-header>
      <!--</md-expansion-panel>-->

  <md-form-field>
      <md-card-content>
        <h5>Job type: {{advert.jobType}}</h5>
        <p><b>Description:</b> {{ advert.description}} </p>
        <hr />
        <div class="small">
            <p><b>Company name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> {{ advert.company }}</p>
            <p><b>Company website: &nbsp;</b> <link src="{{advert.website}}">{{ advert.website }}</p>
        </div>
        <hr />
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card-content>
      </md-form-field>
      </md-expansion-panel>
      
      
    </md-card>
    <!--{{advert.name}}
        {{advert.company}}
        {{advert.description}}-->
  </div>


  <!--<ul class="listFilters">
    <li class="locationFilter itemFilter"></li>
    <li class="typeFilter itemFilter"></li>
    <li class="timeFilter itemFilter"></li>
    <li class="remoteFilter itemFilter"></li>
  </ul>-->
</div>
