/* This class holds the search form, map and cities */

/* This class holds the search form and the map */
.top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 95%;
    background: #673ab7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#673ab7, #ffd740); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#673ab7, #ffd740); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#673ab7, #ffd740); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#673ab7, #ffd740); /* Standard syntax */
}

/* Search form */
.search {
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
    height: 93%;
    /* width: 35%; */
    flex: 1 55%;
}


/* Map element */
.map {
    width: 45%;
    flex: 1 45%;
    overflow: hidden;
    height: 105%;
}