<div class="main">

    <div class="navigation">
        <md-toolbar color="primary">

            <!-- Logo -->
            <span><a routerLink="/home"> <img src="../../../favicon.ico">Hire me </a></span>

            <span class="space-between"></span>

            <span class="actionButtons">
                <button md-raised-button color="accent" [mdMenuTriggerFor]="menu" #currentUser>
                  Login
                </button>

                <md-menu-bar>
                    <md-menu #menu="mdMenu" yPosition="below" >
                        <button md-menu-item (click)="loginFb()" (close)="console.log('test')" #fbLogin>
                            <span class="fa fa-facebook">&nbsp;&nbsp;</span>
                            <span>Facebook</span>
                        </button>

                        <button md-menu-item (click)="onLinkedInLoad(); onLinkedInAuth()" #liLogin>
                            <span class="fa fa-linkedin">&nbsp;&nbsp;</span>
                            <span>LinkedIn</span>
                        </button>

                        <button md-menu-item (click)="logout()" #logoutAll>
                            <span>Logout</span>
                        </button>

                    </md-menu>
                </md-menu-bar>

                <button md-raised-button (click)="postJob()">
                    Post Job
                </button>
            </span>

        </md-toolbar>
    </div>

    <div class="central">
        <router-outlet></router-outlet>
    </div>

</div>



